section.collection-link.container
    .collection-wrapper
        .collection__img
            img(src=way+'/content/box1.png' alt='men')
            a(href='#' class="collection__link")
                .collection__text.text-photo_big
                    p best
                    p outfits
                    p.collection__text_line.text-around-line &
                    p looks
        .collection-box_right.collection-wrapper
            .collection__img
                img(src=way+'/content/box2.png' alt='summer')
                a(href='#' class="collection__link")
                    .collection__text.box__circle
                        .box__circle_inner
                            p Summer
                            p party
                            p collection
            .collection-wrapper
                .collection__img
                    img(src=way+'/content/box3.png' alt='women')
                    a(href='#' class="collection__link")
                        .collection__text.text_bottom
                            p best sellers
                                +icon('arrow_right')
                .collection__img
                    img(src=way+'/content/box4.png' alt='men')
                    .collection__text.collection__text_right
                        p fall
                        | leather
                        a.btn-shop.btn-collection
                            span shop now
                                +icon('arrow-btn-right')


