.filter-widget
    .filter-widget__line
    .filter-widget__price Price $0 - $200
        .btn-filter filter
    .filter-widget__size Select your size
        .size-enumeration
            span xs
            span s
            span m
            span l
            span xl
