.sidebar-widget
    .sidebar-widget__title categories
    include ../../../modules/navigation/header-menu
    include filter

    .sidebar-widget__title on sale
    +miniProduct('mini-sale1','PINTUCK TANK','$45.55')
    +miniProduct('mini-sale2','FOLICIA SILK SHIRT','$69.49')
    +miniProduct('mini-sale3','Laylala Shirt','$78.25')

    .sidebar-widget__title featured products
    +miniProduct('feat1','Basic Sunglasses','$14.90')
    +miniProduct('feat2','Billie J','$69.49')
    +miniProduct('feat3','Sandie Shopperbag','$69.95')

