.navigation
    .navigation__text
        |Showing 1-12 of 347 results
    .navigation__number
        a(href='#')
            span.active-page 1
        a(href='#')
            span 2
        a(href='#')
            span 3
        a(href='#')
            span >
