section.container
    .about
        .about__title About LookShop
        .about__text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab,
            |adipisci atque, aut deserunt ea eligendi esse facere illum labore maiores officiis porro
            |rem temporibus. Assumenda blanditiis culpa ex explicabo in ipsam laboriosam laborum,
            |odio pariatur quaerat quibusdam reiciendis ut. A ad cupiditate dignissimos eos illum impedit
            |iure nulla placeat quos. Doloremque fugit labore laudantium qui sed sint temporibus.
            |Accusantium cupiditate doloremque nihil sint? Ad consequatur dolor eius excepturi,
            | exercitationem facilis labore laboriosam libero natus officiis, perspiciatis porro quae
            |quibusdam, quod repellat sapiente sequi similique sunt velit veritatis? A assumenda at
            |blanditiis et eveniet illo laboriosam necessitatibus neque officiis, optio possimus, quaerat,
            |quas quis rem sunt tempore tenetur voluptatibus! Animi aut, beatae corporis deleniti dignissimos
            |dolore ducimus eius fugiat id ipsam maiores maxime neque, optio quidem quisquam quos rerum
            |sapiente, sed unde vel. Aliquam aliquid corporis, iusto modi nihil optio pariatur qui quis quos


