section.brands-wrapper
    .brands-title.text-around-line
        h4 favourite brands
    .container
        .brands
            +icon('brand1')
            +icon('brand2')
            +icon('brand3')
            +icon('brand4')
            +icon('brand5')
            +icon('brand6')
            +icon('brand7')
            +icon('brand8')


