section.container
    .stamp-wraper
        .stamp.text-around-line.stamp_line
            .stamp__icon
                +icon('shape')
                +icon('shape_inner')
            .stamp__text clearance
                p 50
                    span %
                        span off
