extends template/main

block variables
	- var title = 'LookShop'
	- var way = 'static/images'

block content
	include modules/subscribe/subscribe
	include modules/box-collection/box-collection
	include modules/tabs-slider/tabs-slider
	include modules/small-blocks/stamp
	include modules/small-blocks/actual-product
	include modules/small-blocks/brands
	include modules/small-blocks/about
