.count-cart
    .count-box
        a(href='#').btn-shop.btn-shop_after.btn-minus
            | -
        a(href='#').btn-shop.btn-count
            | 1
        a(href='#').btn-shop.btn-shop_after.btn-plus
            | +
    a(href='#').btn-shop.btn-shop_after.btn-product
        |add to cart
        img(class='btn-shop__img' src=way+'/general/plus.png' alt='plus')
