section.wrapper_line-top-dottom.social-product
    a(href='#')
        +icon('facebook')
        span share on facebook
    a(href='#')
        +icon('pinteress')
        span pin this product
    a(href='#')
        +icon('twitter')
        span tweet this product
    a(href='#')
        +icon('Email')
        span email a friend
