.tabs-description
    ul
        li.tabs-description__item
            .tabs-title
                .tabs-arrow
                    +icon('tabs-arrow')
                h3 description
            .tabs-description__content.tab1
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus delectus deserunt facilis id repudiandae vel vitae voluptatem? Ab beatae, consectetur, delectus dignissimos esse excepturi expedita facilis harum iste maxime minus mollitia nemo nisi placeat quisquam quod sed temporibus ut voluptatum.

        li.tabs-description__item
            .tabs-title
                .tabs-arrow
                    +icon('tabs-arrow')
                h3 additional information
            .tabs-description__content.tab2
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus delectus deserunt facilis id repudiandae vel vitae voluptatem? Ab beatae, consectetur, delectus dignissimos esse excepturi expedita facilis harum iste maxime minus mollitia nemo nisi placeat quisquam quod sed temporibus ut voluptatum.
        li.tabs-description__item
            .tabs-title
                .tabs-arrow
                    +icon('tabs-arrow')
                h3 reviews (12)
        li.tabs-description__item
            .tabs-title
                .tabs-arrow
                    +icon('tabs-arrow')
                h3 helpful links
        li.tabs-description__item
            .tabs-title
                .tabs-arrow
                    +icon('tabs-arrow')
                h3 make a gift


