

nav.menu-header-wrapper
    ul.menu-header
        li.menu-header__title new
            ul.dropdown
                li
                    a(href='products.html') woman
                li
                    a(href='products.html') men
        li.menu-header__title desiners
            ul.dropdown
                li
                    a(href='products.html') valentino
                li
                    a(href='products.html') gucci
        li.menu-header__title women
            ul.dropdown
                li
                    a(href='products.html') dress
                li
                    a(href='products.html') shirts
        li.menu-header__title men
            ul.dropdown
                li
                    a(href='products.html') shirts
                li
                    a(href='products.html') trousers
                li
                    a(href='products.html') suit
        li.menu-header__title clearence
            ul.dropdown
                li
                    a(href='products.html') sale

